.instrument-card{
    background-color: #3056d320;
    display: flex;
    border-radius: 16px;
    padding: 0;
    margin-left: 8px;
    margin-bottom: 16px;
    width: 415px;
}
.instrument-card i{
    color: #ba2626;
}

.status-unavaible{
    background-color: #ba2626;
    border-radius: 16px;
    font-size: 14px;
}
.status-avaible{
    background-color: #2c984b;
    border-radius: 16px;
    font-size: 14px;
}
.card-status{
    width: 100px;
    display: flex;
    justify-content: center;
}

.card-info{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.instrument-card img{
    border-radius: 4px;
    height: 200px;
}   
.card-title p{
    font-weight: bold;
    color: black;
}
.card-brand p{
    font-weight: bold;
    color: black;
}
.actions-buttons{
    display: flex;
    gap: 8px;
}
.delete-button i{
    font-size: 16px;
}
.card-buttons{
    margin-top: auto;
    margin-bottom: 12px;
    display: flex;
    width: 240px;
    gap: 12px;
    justify-content: space-between;
}
.card-button{
    border-radius: 16px;
}

.card-button p{
    color: white;
}

.instrument-card-img{
    display: flex;
    align-items: center;
}

.instrument-card-img img{
    width: 150px;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    border-radius: 16px;
}