.instrument-card{
    background-color: #a7a1da34;
    display: flex;
    height: 200px;
    border-radius: 16px;
    padding: 0;
    margin-bottom: 16px;
    width: 415px;
   
}
.instrument-card i{
    color: #bd3737;
}

.status-unavaible{
    background-color: #a83737;
    border-radius: 16px;
    font-size: 14px;
}
.status-avaible{
    background-color: #399c52;
    border-radius: 16px;
    font-size: 14px;
}
.card-status{
    width: 100px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info{
    margin-left: 12px;
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.instrument-card img{
    border-radius: 4px;
    max-height: 90%;
}   
.card-title {
    font-weight: 800;
    color: #092c5e;
    font-size: 15pt;
}
.card-brand {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}
.actions-buttons{
    display: flex;
    gap: 8px;
}
.delete-button i{
    font-size: 16px;
    height: 16px;
}
.delete-button{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}
.card-buttons{
    margin-top: auto;
    margin-bottom: 12px;
    margin-right: 12px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;
}
.card-button{
    border-radius: 16px;
}

.card-button p{
    color: white;
    font-weight: 500;
}

.card-button.lend{
    background-color: #d48e1d;

}
.instrument-card-img{
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding: 12px 0;
    width: 140px;
    justify-content: center;
    
}

.instrument-card-img img{
    max-width: 140px;
    max-height: 100%;
    object-fit: contain;
    border-radius: 16px;
}


