/* page-layout */

.instrument-item{
    display: flex;
    align-items: center;
}

.instrument-item img{
    width: 140px;
    height: 135px;
}

.list-content{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

/*pagination*/

.pagination{
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.pagination-items{
    width: 150px;
    display: flex;
    background-color: #1C2434;
    border-radius: 4px;
    justify-content: space-around;
    gap: 8px;
}

.selected{
    color: #3C50E0;
}

.left-arrow i{
    font-size: 20px;
    color: #3C50E0;
}
.right-arrow i{
    font-size: 20px;
    color: #3C50E0;
}

.pages{
    display: flex;
    gap: 8px;
}
.pages p{
    font-size: 20px;
}

.card-button{
    display: flex;
    justify-content: center;
    background-color: #3C50E0;
    border-radius: 4px;
    width: 100px;
}

.actions-buttons a{
    text-decoration: none;
}

.modalbtn{
    padding: 0;
}

.modal p{
    color: black;
}
.modal h1{
    color: black;
}