.instrument-card{
    border: 2px solid grey;
    display: flex;
    border-radius: 4px;
    padding: 0;
    margin-left: 8px;
    margin-bottom: 16px;
    width: 425px;
}
.instrument-card i{
    color: red;
}

.status-unavaible{
    background-color: red;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}
.status-avaible{
    background-color: red;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}
.card-status{
    width: 100px;
    display: flex;
    justify-content: center;
}

.card-info{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.instrument-card img{
    border-radius: 4px;
    height: 200px;
}   
.card-title p{
    font-weight: bold;
    color: black;
}
.card-brand p{
    font-weight: bold;
    color: black;
}
.actions-buttons{
    display: flex;
    gap: 8px;
}
.delete-button i{
    font-size: 16px;
}
.card-buttons{
    margin-top: auto;
    margin-bottom: 12px;
    display: flex;
    width: 250px;
    gap: 12px;
    justify-content: space-between;
}

.card-button p{
    color: white;
    font-weight: bold;
}