{% load static %}

<a id="edit-return-button" type="button" data-bs-toggle="modal" data-bs-target="#m{{ obj.pk }}">
    <i class="bi bi-pencil-square"></i>
</a>
<div id="m{{ obj.pk }}"class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    {{ obj.student.user.username }} - {{ obj.student.register }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>

        <div class="modal-body">
            <span>
                <strong>{{ obj.student.get_year_display }} - {{ obj.student.get_course_display }} - {{ obj.student.get_shift_display }}</strong>
            </span>
            <div class="modal-info-main d-flex justify-content-center">
                <div class="instrument-header">
                    <img src="{{ obj.instrument.image.url }}" alt="">
                </div>
                <div class="lending-info">
                    <p><strong>Inicio: </strong>{{ obj.initDate }}</p>
                    <p><strong>Fim: </strong>{{ obj.finalDate }}</p>
                    <p>{{ obj.justify }}</p>
                </div>
            </div>
        </div>
    
        <div class="modal-footer">
            <section class="soli-buttons">
                {% block buttons %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-success" href="{% url 'lendings:returnCreate' obj.pk %}" role="button">Registrar Devolução</a>
                {% endblock buttons %}
            </section>
        </div>

    </div>
  </div>
</div>
