{% extends "pages/list.html" %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'lendings/lendings_list.css' %}">

{% endblock %}

{% block addLink %}

<a class="button-content" href="{% url 'lendings:lendingAdd' %}">

{% endblock %}

{% block page_name %}
Empréstimos - Em Andamento
{% endblock %}


{% block content %}
{{ block.super }}

    {% include "lendings/buttons/_student_requests_list_buttons.html" %}
    <div class="center-content">
        <table>
            <tr>
                <td class="instrumentos">Instrumento</td>
                <td class="instrumentos">Início</td>
                <td class="instrumentos">Fim</td>
                <td class="instrumentos">Status</td>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td class="instrumentos">{{ obj.instrument }}</td>
                <td class="instrumentos">{{ obj.initDate }}</td>
                <td class="instrumentos">{{ obj.finalDate }}</td>
                <td class="instrumentos">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        {{ obj.get_status_display }}
                        {% if obj.get_status_display == "Em análise" %}
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#m{{ obj.id }}">
                            <i class="bi bi-x-circle"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="m{{ obj.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cancelar</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Tem certeza?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a type="button" class="btn btn-danger" href="{% url 'lendings:cancel' obj.pk %}">Sim</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="page-buttons">
            <!-- Crie botões de página conforme necessário -->
        </div>
    </div>

    <div class="row pagination">
        <div class="pagination-items">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
                <div class="left-arrow"><i class="bi bi-caret-left-fill"></i></div>
            </a>
            {% else %}
            <a href="#">
                <div class="left-arrow"><i class="bi bi-caret-left-fill"></i></div>
            </a>
            {% endif %}
            <div class="pages">
                <p class="selected">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>
            </div>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <div class="right-arrow"><i class="bi bi-caret-right-fill"></i></div>
            </a>
            {% else %}
            <a href="#">
                <div class="right-arrow"><i class="bi bi-caret-right-fill"></i></div>
            </a>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
    

