{% extends "pages/list.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'instruments\instruments.css' %}">
<link rel="stylesheet" href="{% static 'instruments\instrument_cards.css' %}">
{% endblock %}

{% block page_name %}
Instrumentos
{% endblock %}

{% block content %}
{{ block.super }}
<div class="list-content list-content-main">
    <div class="row">
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\baixo_usado.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Baixo Eletríco 4 Cordas</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Tagima</p>
                </div>
                <div class="card-status status-unavaible">
                    <p>Indisponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <a href=""><i class="bi bi-trash-fill"></i></a>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\baixo_usado.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Baixo Eletríco 4 Cordas</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Tagima</p>
                </div>
                <div class="card-status status-unavaible">
                    <p>Indisponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <a href=""><i class="bi bi-trash-fill"></i></a>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\baixo_usado.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Baixo Eletríco 4 Cordas</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Tagima</p>
                </div>
                <div class="card-status status-avaible">
                    <p>Disponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <a href=""><i class="bi bi-trash-fill"></i></a>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="list-content">
    <div class="row pagination">
        <div class="pagination-items">
            <div class="left-arrow"><i class="bi bi-caret-left-fill"></i></div>
            <div class="pages">
                <p class="selected">1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </div>
            <div class="right-arrow"><i class="bi bi-caret-right-fill"></i></div>
        </div>
    </div>
</div>

{% endblock %}