{% extends "pages/list.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'instruments\instruments.css' %}">
<link rel="stylesheet" href="{% static 'instruments\instrument_cards.css' %}">
{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block page_name %}
Instrumentos
{% endblock %}

{% block content %}
{{ block.super }}
<div class="list-content list-content-main">
    <div class="row">
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\baixo_usado.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Baixo Eletríco 4 Cordas</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Tagima</p>
                </div>
                <div class="card-status status-unavaible">
                    <p>Indisponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\piano.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Piano Digital</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Korg</p>
                </div>
                <div class="card-status status-unavaible">
                    <p>Indisponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\guitar.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Guitarra Les Paul</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Gibson</p>
                </div>
                <div class="card-status status-unavaible">
                    <p>Indisponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\acoustic_guitar.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Violão Eletríco</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Giannini</p>
                </div>
                <div class="card-status status-avaible">
                    <p>Disponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\cajon.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Cajon de Madeira</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Celsius</p>
                </div>
                <div class="card-status status-unavaible">
                    <p>Indisponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\pandeiro.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Pandeiro</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Contemporânia</p>
                </div>
                <div class="card-status status-avaible">
                    <p>Disponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\trompete.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Trompete Sib</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Conn</p>
                </div>
                <div class="card-status status-avaible">
                    <p>Disponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\flauta.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Flauta Transversal</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Yamaha</p>
                </div>
                <div class="card-status status-avaible">
                    <p>Disponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{% static 'images\instruments\carrilhao.webp' %}" alt="">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>Carrilhão 24 Barras</p>
                </div>
                <div class="card-brand">
                    <p>Marca: Torelli</p>
                </div>
                <div class="card-status status-unavaible">
                    <p>Indisponível</p>
                </div>
                <div class="card-buttons">
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-buttons">
                        <a href="">
                            <div class="card-button">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="card-button">
                                <p>Emprestar</p>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
    </div>
    </div>
    </div>
</div>
<div class="list-content">
    <div class="row pagination">
        <div class="pagination-items">
            <div class="left-arrow"><i class="bi bi-caret-left-fill"></i></div>
            <div class="pages">
                <p class="selected">1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </div>
            <div class="right-arrow"><i class="bi bi-caret-right-fill"></i></div>
        </div>
    </div>
</div>

{% endblock %}