{% load bootstrap3 %}
<div class="list-buttons">
    {% block search %}
    <div class="search col-md-3">
        <div class="search-header">
            <i class="bi bi-search"></i>
            <p>Procurar...</p>
        </div>
    </div>
    {% endblock search %}
    <section>
            <!-- Button trigger modal -->
            <a class="button" href="#">
                <div class="button-content" data-bs-toggle="modal" data-bs-target="#filter">
                    <div class="button-content">
                        <i class="bi bi-funnel-fill"></i>
                        <p>Filtros</p>
                    </div>
                </div>    
            </a>
            {% if filter %}
            <!-- Modal -->
            <div class="modal fade" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Filtrar</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <form action="" method="get" class="form">
                        <div class="modal-body">
                            <div class="filter-form">
                                {% block filter-form %}
                                {% bootstrap_form filter.form layout='inline' %}
                                {% endblock filter-form %}
                            </div>
                            <div class="modal-footer mt-4">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        {% for group in request.user.groups.all %}
        {% if group.name == "professor" %}
            <div class="button add-button">
                {% block addLink %}
                <a class="button-content" href="{% url 'add' %}">
                {% endblock addLink %}
                    <div class="button-content">
                        <i class="bi bi-plus"></i>
                        <p>Adicionar</p>
                    </div>
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </section>
</div>