<div class="list-buttons">
    <div class="search col-md-3">
        <div class="search-header">
            <i class="bi bi-search"></i>
            <p>Procurar...</p>
        </div>
    </div>
    <section>
        <div class="button">
            <a class="button-content" href="">
                <div class="button-content">
                    <i class="bi bi-funnel-fill"></i>
                    <p>Filtros</p>
                </div>
            </a>
        </div>
        {% if request.user.groups.all.0.name == "professor" %}
        <div class="button add-button">
            {% block addLink %}
            <a class="button-content" href="{% url 'add' %}">
            {% endblock addLink %}
                <div class="button-content">
                    <i class="bi bi-plus"></i>
                    <p>Adicionar</p>
                </div>
            </a>
        </div>
        {% endif %}
    </section>
</div>