{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block page_name %}
Adicionar
{% endblock %}

{% block content %}
<div class="card" style="margin-top: 32px;">
  <form class="form" method="post">
    {% block form_content %}
    {% csrf_token %}
    <div class="card-body border-top p-9">
      {% crispy form %}
    </div>
    {% endblock %}
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <button type="reset" class="btn btn-light btn-active-light-primary me-2">Descartar</button>
      <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Salvar</button>
    </div>
  </form>
</div>
{% endblock %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block javascript %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}