{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/list.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="list-buttons row">
        <div class="search col-md-3">
            <div class="search-header">
                <i class="bi bi-search"></i>
                <p>Procurar...</p>
            </div>
        </div>
        <section class="col-3 offset-2">
            <div class="button">
                <div class="button-content">
                    <i class="bi bi-funnel-fill"></i>
                    <p>Filtros</p>
                </div>
            </div>
            <div class="button add-button">
                <a href="{% url 'instrumentAdd' %}">
                    <div class="button-content">
                        <i class="bi bi-plus"></i>
                        <p>Adicionar</p>
                    </div>
                </a>
            </div>
        </section>
    </div>
{% endblock %}