{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIM - Login</title>
  <link rel="icon" href="{% static 'images/logos/logo.png' %}" />
  <link rel="stylesheet" href="{% static 'css/login.css'%}">
  <script defer src="{% static 'js/message.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="content">
      <div class="login-logo half-width-div">
        <a href="{% url 'login' %}" class="login-left">
          <div class="header">
            <img src="{% static 'images/logos/logo.png'%}" alt="">
            <span><p>SIM</p></span>
          </div>
          <div class="sub">
            <p>SISTEMA INTEGRADO DE MÚSICA</p>
          </div>
          <div class="sub-images">
            <img id="guitar" src="{% static 'images/login/guitar.png' %}" alt="">
            <img id="person" src="{% static 'images/login/person.png' %}" alt="">
          </div>
        </a>
      </div>
      <div class="form-content half-width-div" style="height: fit-content;">
        {% include '_messages.html' %}
        <div class="login-form">
            <form class="form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="card-footer d-flex">
                {% block form_content %}
                  {% crispy form %}
                  <button id="loginbtn" href="#" type="submit" class="btn btn-success btn-md active" role="button" aria-pressed="true">Entrar</button>
                  <div id="signup">
                    <span>
                      <p>Não tem uma conta?<a href="{% url 'signup' %}"> Cadastre-se</a></p>
                    </span>
                  </div>
                {% endblock form_content %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>