{% extends 'pages/_list_buttons.html' %}
{% load bootstrap3 %}

{% block search %}
<div class="instrument-search">
    <form action="" method="get" class="form">
    {% for field in filter.form  %}
        {% if field.name == "student__user__username" %}
            {% bootstrap_field field %}
        {% endif %}
    {% endfor %}
    </form>
</div>
{% endblock %}


{% block filter-form %}
    <form action="" method="get" class="form">
    {% for field in filter.form  %}
        {% if field.name != "student__user__username" %}
            {% bootstrap_field field %}
        {% endif %}
    {% endfor %}
    </form>
{% endblock %}


{% block addButton %}
<div>

</div>
{% endblock %}