{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_name %}
Perfil
{% endblock %}

{% block content %}
<form class="form" method="post" enctype="multipart/form-data">
<div class="card mt-4" style="border-radius: 16px;">
    <div class="card-header" style="background-color: #a7a1da34; border-top-left-radius: 16px; border-top-right-radius: 16px;">
      <strong>{{ request.user.username }}{% if request.user.groups.all.0.name == "student" or request.user.groups.all.0.name == "colleger" %} - {{ request.user.StudentUser.register }}{% endif %}</strong>
    </div>
        {% csrf_token %}
        <div class="card-body p-9">
            {% crispy form %}
        </div>
        <div class="card-footer d-flex justify-content-end py-6 px-9" style="background-color: #a7a1da34;">
            <button type="submit" class="btn btn-success btn-md">Atualizar</button>
        </div>
    </div>
</form>
{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'users/profile.css' %}">
{% endblock %}


