{% extends "pages/list.html" %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'lendings/lendings_list.css' %}">
<link rel="stylesheet" href="{% static 'users/userslist.css' %}">
{% endblock %}

{% block addLink %}

<a class="button-content" href="{% url 'lendings:lendingAdd' %}">

{% endblock %}

{% block page_name %}
Alunos - Listagem
{% endblock %}


{% block content %}
{{ block.super }}
    {% include "users/_student_buttons.html" %}
    <div class="center-content">
        <table>
            <tr>
                <td class="instrumentos">Nome</td>
                <td class="instrumentos">Matrícula</td>
                <td class="instrumentos">Curso</td>
                <td class="instrumentos">Ano</td>
                <td class="instrumentos">Tipo</td>
                {% if request.user.groups.all.0.name == "professor" %}
                <td class="instrumentos">Ações</td>
                {% endif %}
            </tr>
            {% for obj in object_list %}
            <tr>
                <td class="instrumentos">{{ obj.user.username }}</td>
                <td class="instrumentos">{{ obj.register }}</td>
                <td class="instrumentos">{{ obj.get_course_display }}</td>
                <td class="instrumentos">{{ obj.get_year_display }} - {{ obj.get_shift_display }}</td>
                <td class="instrumentos">
                    {% if obj.is_colleger %}
                    Bolsista
                    {% else %}
                    Estudante
                    {% endif %}
                </td>
                {% if request.user.groups.all.0.name == "professor" %}
                <td class="actions">
                    {% if obj.user.groups.all.1 %}
                    <a href="{% url 'users:studentChangeGroup' obj.pk %}">
                        <i class="bi bi-person-dash-fill"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'users:studentChangeGroup' obj.pk %}">
                        <i class="bi bi-person-check-fill add-colleger"></i>
                    </a>
                    {% endif %}
                    <!-- Button trigger modal -->
                    <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#m{{ obj.id }}">
                        <i class="bi bi-person-fill-x"></i>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="m{{ obj.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Tem certeza?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <a type="button" class="btn btn-danger" href="{% url 'delete' obj.pk %}">Sim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

        
        <div class="page-buttons">
            <!-- Crie botões de página conforme necessário -->
        </div>
    </div>

    <div class="row pagination">
        <div class="pagination-items">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
                <div class="left-arrow"><i class="bi bi-caret-left-fill"></i></div>
            </a>
            {% else %}
            <a href="#">
                <div class="left-arrow"><i class="bi bi-caret-left-fill"></i></div>
            </a>
            {% endif %}
            <div class="pages">
                <p class="selected">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>
            </div>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <div class="right-arrow"><i class="bi bi-caret-right-fill"></i></div>
            </a>
            {% else %}
            <a href="#">
                <div class="right-arrow"><i class="bi bi-caret-right-fill"></i></div>
            </a>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
    

