{% extends "pages/list.html" %}
{% load static %}
{% load bootstrap3 %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'instruments\instruments.css' %}">
<link rel="stylesheet" href="{% static 'instruments\instrument_cards.css' %}">
{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block page_name %}
Instrumentos
{% endblock %}

{% block content %}
{{ block.super }}

{% include 'instruments/_list_buttons.html' %}


<div class="list-content list-content-main">
    <div class="row">
        {% for obj in object_list %}
        <section class="instrument-card col-md-4">
            <div class="instrument-card-img">
                <img src="{{ obj.image.url }}" alt="foto">
            </div>
            <div class="card-info">
                <div class="card-title">
                    <p>{{ obj.name }}</p>
                </div>
                <div class="card-brand">
                    <p>Marca: {{ obj.brand }}</p>
                    <p>Modelo: {{ obj.model }}</p>
                    <p>Cor: {{ obj.color }}</p>
                </div>
                {% if obj.status %}
                <div class="card-status status-avaible">
                    <p>Disponível</p>
                </div>
                {% else %}
                <div class="card-status status-unavaible">
                    <p>Indisponível</p>
                </div>
                {% endif %}
                <div class="card-buttons">
                    {% for group in request.user.groups.all  %}
                    {% if group.name == "professor" %}
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#m{{ obj.id }}">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="m{{ obj.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Tem certeza?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a type="button" class="btn btn-danger" href="{% url 'delete' obj.pk %}">Sim</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if group.name == "colleger" %}
                    <div class="delete-button">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#m{{ obj.id }}">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="m{{ obj.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Tem certeza?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a type="button" class="btn btn-danger" href="{% url 'delete' obj.pk %}">Sim</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="actions-buttons">
                        {% for group in request.user.groups.all  %}
                        {% if group.name == "professor" %}
                        <a href="{% url 'update' obj.pk %}">
                            <div class="card-button update">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        {% endif %}
                        {% if group.name == "colleger" %}
                        <a href="{% url 'update' obj.pk %}">
                            <div class="card-button update">
                                <p>Atualizar</p>
                            </div>
                        </a>
                        {% endif %}
                        {% if group.name == "student"%}
                        {% if obj.status == True %}
                        <a id="lend-link" href="{% url 'lendings:create' obj.pk %}">
                            <div class="card-button lend">
                                <p>Empréstimo</p>
                            </div>
                        </a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </section>
        {% endfor %}
    </div>
    </div>
    </div>
</div>
<div class="list-content">
    <div class="row pagination">
        <div class="pagination-items">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
                <div class="left-arrow"><i class="bi bi-caret-left-fill"></i></div>
            </a>
            {% else %}
            <a href="#">
                <div class="left-arrow"><i class="bi bi-caret-left-fill"></i></div>
            </a>
            {% endif %}
            <div class="pages">
                <p class="selected">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>
            </div>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <div class="right-arrow"><i class="bi bi-caret-right-fill"></i></div>
            </a>
            {% else %}
            <a href="#">
                <div class="right-arrow"><i class="bi bi-caret-right-fill"></i></div>
            </a>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}