{% extends "pages/list.html" %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'lendings/lendings_list.css' %}">



{% endblock %}
{% block content %}
{{ block.super }}



    <div class="center-content">
        
        
        <table>
            <tr>
                <td class="aluno">Aluno</th>
                <td class="matricula">Matrícula</td>
                <td class="retirada">Data de Retirada</td>
                <td class="devolucao">Data de Devolução</td>
                <td class="instrumentos">Instrumentos</td>
            </tr>
            
            <tr>
                <td class="aluno"> <i class="bi bi-person-circle"></i> Aluno 1</td>
                <td class="matricula">12345678901234</td>
                <td class="retirada">2023/09/01</td>
                <td class="devolucao">2023/09/15</td>
                <td class="instrumentos">Instrumento 1</td>
            </tr>
            <tr>
                <td class="aluno"> <i class="bi bi-person-circle"></i> Aluno 2</td>
                <td class="matricula">98765432109876</td>
                <td class="retirada">2023/09/03</td>
                <td class="devolucao">2023/09/17</td>
                <td class="instrumentos">Instrumento 2</td>
            </tr>
            <tr>
                <td class="aluno"> <i class="bi bi-person-circle"></i> Aluno 3</td>
                <td class="matricula">56789012345678</td>
                <td class="retirada">2023/09/05</td>
                <td class="devolucao">2023/09/19</td>
                <td class="instrumentos">Instrumento 3</td>
            </tr>
            <tr>
                <td class="aluno"> <i class="bi bi-person-circle"></i> Aluno 4</td>
                <td class="matricula">12340000000000</td>
                <td class="retirada">2023/09/10</td>
                <td class="devolucao">2023/09/24</td>
                <td class="instrumentos">Instrumento 4</td>
            </tr>
            <tr>
                <td class="aluno"> <i class="bi bi-person-circle"></i> Aluno 5</td>
                <td class="matricula">55556666777788</td>
                <td class="retirada">2023/09/15</td>
                <td class="devolucao">2023/09/29</td>
                <td class="instrumentos">Instrumento 5</td>
            </tr>
        </table>

        <div class="page-buttons">
            <!-- Crie botões de página conforme necessário -->
        </div>
    </div>


    
{% endblock %}
    

