.card-header p{
    font-size: 24px;
    font-weight: bold;
}
.card-header{
    background-color: var(--secondary-bg-color);
    opacity: 90%;
}

.card-body{
    background-color: #efefef;
}

.card-body label{
    color: #071c31;
    opacity: 90%;
}

.form-control{
    background-color: #0000001d;
    border: none;
    color: #071c31;
}

.form-control:focus{
    background-color: #1c243430;
    color: #071c31;
}

.form-select{
    background-color: #0000001d;
    border: none;
    color: #071c31;
}

.form-select:focus{
    background-color: #1c243430;
    color: #071c31;
}