:root{
    --detail-color : #3C50E0
}

.list-buttons{
    margin: 32px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}

.list-buttons section{
    display: flex;
    justify-content: space-around;
    gap: 6px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 240px;
    height: 44px;
    border-radius: 16px;
}

.search p{
    color: #637381;

}

.search-header{
    margin-left: 8px;
    display: flex;
    gap: 16px;
}

.search-header i{
    color: #637381;
}


.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--detail-color);
    width: 123px;
    height: 44px;
    border-radius: 14px;
}

.button i{
    color: white;
}

.button-content{
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.add-button i{
    font-size: 24px;
}
.add-button p{
    padding-bottom: 2px;
}

.row{
    max-width: 1269px;
}


.pagination{
    margin-bottom: 32px;
}


.pagination{
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.pagination-items{
    width: 150px;
    display: flex;
    background-color: #3056d320;
    border-radius: 16px;
    justify-content: space-around;
    gap: 8px;
}
.pagination-items p{
    color: black;
}
#page-selected{
    color: #3056D3;
}

.left-arrow i{
    font-size: 20px;
    color: #3056D3;
}
.right-arrow i{
    font-size: 20px;
    color: #3056D3;
}

.pages{
    display: flex;
    gap: 8px;
}
.pages p{
    font-size: 20px;
}